/*==================
== WHOLE DOC
=================*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Hind Guntur', sans-serif;
    font-size: calc(1em + 1vw); 
    background: #ebecfd;
    display: flex;
    flex-direction: column;
}

/*==================
== Header
=================*/
header {
    width: 100%;
    top: 0;
    left: 0; 
    right: 0;
    outline: 3px solid red;
    display: flex;
    height: 85px;
}

.header-container {
    width: 95%;
    top: 0;
    background-image: url("/images/moorfarm.png");
    background-size: cover;
    text-align: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    color: chartreuse;
    outline: 2px solid green;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    align-content: space-around;
}

.header-container h1 {
    letter-spacing: 1.5vmin;
    outline: 2px solid blue;
    margin: 0 auto; 
    padding: 0 auto;
    font-size: 20px;
    /* width: 100%; */
    /* flex-grow: 15; */
}

.header-h4 {
    /* float: right; */
    /* right: 0; */
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    outline: 1px solid skyblue;
    /* margin-right: 0; */
}

.header-container h4 {
    letter-spacing: 1vmin;
    margin: 0 auto;
    /* padding: 0 auto;  */
    /* width: 20%; */
    font-size: 13px;
    /* flex-grow: 3; */
    /* white-space: nowrap; */
    outline: 2px solid chartreuse;
}

/*==================
== MOBILE NAV
=================*/
.mobileNav-container {
    display: inline-block;
    /* position: relative; */
    font-size: 20px;
    align-items: center;
    justify-content: center;
    color: rgb(94, 59, 53);
    outline: 2px solid fuchsia;
    background-color: #ebecfd;
    border: none;
    /* margin: 2%; */
    height: 55px;
}

.dropdown-content {
    right: 0;
    width: 190px;
    outline: solid gray;
    display: none;
    position: absolute;
    background-color: #ebecfd;
}

.mobileNav-onclick {
    padding: 5px 2px;
    display: block;
    color: rgb(94, 59, 53);
    outline: 0.5px solid rgb(94, 59, 53);
    /* background-color: blue; */
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*==================
== FULLSCREEN NAV
=================*/
.fullNav-container {
    display: none;
    outline: 1px solid yellowgreen;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
}

.fullNav {
    font-size: 12px;
    color: rgba(94, 59, 53, 0.7);
    text-decoration: none;
    margin: 0 auto;
    white-space: nowrap;
    float: right;
    padding-right: 0;
    /* outline: 2px solid yellow; */
}

/*==================
== CONTENT
=================*/
.content {
    width: 100%;
    text-align: center;
    color: rgb(94, 59, 53);
    outline: 2px solid red;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 100%;
    
}

.content h3 {
    outline: 2px solid blue;
    margin: 20px 0 0 0;
}

.content p, .content ul {
    font-size: 12px;
    outline: 2px solid purple;
    margin: 0 5px;
    list-style-type: none;
}

.content h6 {
    margin: 10px 0 0 0;
}

.img-block {
    /* width: 100%; */
    /* height: 300px; */
    /* margin: 0 auto; */
    outline: 2px solid orange;
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap */
} 

figure { /*this one container for size*/
    /* display: inline-block; */
    /* text-align: center; */
    /* max-height: 300px;
    max-width: 300px;
    height: auto;*/
    width: 75%; 
    outline: 2px solid fuchsia;
}

figure img {
    /* /* height: 250px; */
    width: 100%; 
    outline: 2px solid yellow;
}

figcaption {
    font-size: 12px;
    /* height: 250px; */
    outline: 2px solid green;
    white-space: nowrap;
    align-items: center;
} 

.about {
    outline: 1px solid skyblue;
    width: 200px;
    height: 200px;
    margin: 2px auto;
}

.about img{
    height: 100%;
    width: auto;
    outline: 2px solid green;
}

.contact {
    display: flex;
    height: 1000px;
}

.bottom {
    /* color: blue;
    margin-bottom: 5px; */
}
/*==================
== FOOTER
=================*/
footer {
    /* position: absolute; */
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: rgb(94, 59, 53);
    font-size: 8px;
    height: 3vmax;
    padding-top: 0;
    outline: 2px solid purple;
}

/*==================
== MEDIA QUERIES
=================*/
@media only screen and (min-width: 500px) {
    header {
        height: 70px;
    }
    
    .header-container h1 {
        font-size: 34px;
    }

    .header-container h4 {
        font-size: 17px;
    }

    /* figure {
        width: 25%;
    } */

    .img-block {
        flex-direction: row;
        flex-wrap: wrap;
    }

    footer {
        font-size: 12px;
    }
}

@media only screen and (min-width: 600px) {
    header {
        height:85px;
    }
    
    .header-container h1 {
        font-size: 45px;
    }

    .header-container h4 {
        font-size: 20px;
    }
}

@media only screen and (min-width: 700px) {
    header {
        height: 95px;
    }

    .header-container h1 {
        font-size: 58px;
    }

    .header-container h4 {
        font-size: 25px;
    }

    figure { 
        width: 40%;
    }

    .img-block  {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}

@media only screen and (min-width: 950px) {
    header {
        height:150px;
    }
    
    .header-container h1 {
        font-size: 78px;
    }

    .mobileNav-container {
        display: none;
    }

    .fullNav-container {
        display: flex;
        border: 1px lime solid;
    }

    .fullNav {
    display: flex;
    flex-direction: column;
    
    }

    figure { 
        width: 30%;
    }

    footer {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1200px) {
    .header-container {
        width: 90%;
    }
    
    .header-container h1 {
        font-size: 85px;
    }

    .header-container h4 {
        font-size: 30px;
    }
} 