/*==================
== WHOLE DOC
=================*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Hind Guntur', sans-serif;
    font-size: calc(1em + 1vw); 
    background: #ebecfd;
    display: flex;
    flex-direction: column;
}

/*==================
== Header
=================*/
header {
    width: 100%;
    top: 0;
    left: 0; 
    right: 0;
    outline: 3px solid red;
    display: flex;
    height: 85px;
}

.header-container {
    width: 95%;
    top: 0;
    background-image: url("/images/moorfarm.png");
    background-size: cover;
    text-align: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    outline: 2px solid green;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

.header-container h1 {
    letter-spacing: 1.5vmin;
    outline: 2px solid blue;
    margin: 0; 
    padding: 5px 0 0 0;
    font-size: 30px;
    /* width: 100%; */
    /* flex-grow: 15; */
}

.header-h4 {
    display: flex;
    flex-direction: column;
}
.header-container h4 {
    letter-spacing: 1vmin;
    margin: 0;
    padding: 0;
    /* width: 20%; */
    font-size: 15px;
    /* flex-grow: 3; */
    /* white-space: nowrap; */
    outline: 2px solid chartreuse;
}

/*==================
== MOBILE NAV
=================*/
.mobile-menu {
    outline: 1px solid black;
    /* flex-grow: 1; */
}

.mobileNav-container {
    display: inline-block;
    /* position: relative; */
    font-size: 30px;
    align-content: center;
    justify-content: center;
    color: rgb(94, 59, 53);
    outline: 2px solid fuchsia;
    /* margin: 2%; */
    height: 75px;
}

.dropdown-content {
    right: 0;
    width: 190px;
    outline: solid gray;
    display: none;
    position: absolute;
    background-color: #ebecfd;
}

.mobileNav-onclick {
    padding: 5px 2px;
    display: block;
    color: rgb(94, 59, 53);
    outline: 0.5px solid rgb(94, 59, 53);
    /* background-color: blue; */
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*==================
== FULLSCREEN NAV
=================*/
.fullNav-container {
    display: none;
    outline: 1px solid yellowgreen;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
}

.fullNav {
    font-size: 12px;
    color: rgba(94, 59, 53, 0.7);
    text-decoration: none;
    margin: 0 auto;
    white-space: nowrap;
    float: right;
    padding-right: 0;
    /* outline: 2px solid yellow; */
}

/*==================
== CONTENT
=================*/
.content {
    width: 100%;
    text-align: center;
    color: rgb(94, 59, 53);
    outline: 2px solid red;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 100%;
    
}

.content h3 {
    outline: 2px solid blue;
    margin: 20px 0 0 0;
}

.content p, .content ul {
    font-size: 12px;
    outline: 2px solid purple;
    margin: 0 5px;
}

.content h6 {
    margin: 10px 0 0 0;
}
.img-block {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    outline: 2px solid orange;
} 

figure {
    display: block;
}

figure img {
    height: 100%;
    width: auto;
    outline: 2px solid yellow;
}

figcaption {
    font-size: 12px;
    outline: 2px solid green;
    white-space: nowrap;
} 

.about {
    height: 160px;
    outline: 2px solid green;
    margin: 2px auto;
}
/*==================
== FOOTER
=================*/
footer {
    /* position: absolute; */
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: rgb(94, 59, 53);
    font-size: 8px;
    height: 3vmax;
    padding-top: 0;
    outline: 2px solid purple;
}

/*==================
== MEDIA QUERIES
=================*/
@media only screen and (min-width: 500px) {
    .header-container h1 {
    font-size: 30px;
    }

    .header-container h4 {
        font-size: 20px;
    }

    figure {
        width: 25%;
    }

    .img-block {
        flex-direction: row;
        flex-wrap: wrap;
    }

    footer {
        font-size: 12px;
    }
}

@media only screen and (min-width: 600px) {
    header {
        height: 105px;
    }
    
    .header-container h1 {
        font-size: 40px;
    }
}

@media only screen and (min-width: 700px) {
    header {
        height: 120px;
    }
    
    .header-container {
        width: 95%;
    }

    .header-container h1 {
        font-size: 62px;
    }

    .header-container h4 {
        font-size: 25px;
    }
}

@media only screen and (min-width: 950px) {
    .header-container h1 {
        font-size: 78px;
    }

    .mobileNav-container {
        display: none;
    }

    .fullNav-container {
        display: flex;
    }

    .mobileNav {
        display:none;
    }

    .fullNav {
    display: flex;
    flex-direction: column;
    }

    /* .nav-container {
        line-height: 22px;
    }

    .nav-container a {
        font-size: 15px;
    } */

    footer {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1200px) {
    .header-container {
        width: 90%;
    }
    
    .header-container h1 {
        font-size: 85px;
    }

    .header-container h4 {
        font-size: 30px;
    }
} 