/*==================
== WHOLE DOC
=================*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Hind Guntur', sans-serif;
    font-size: calc(1em + 1vw); 
    background: #ebecfd;
    display: flex;
    flex-direction: column;
}

/*==================
== Header
=================*/
header {
    width: 100%;
    top: 0;
    left: 0; 
    right: 0;
    outline: 3px solid red;
    display: flex;
    min-height: 27vh;
}

.h1-container {
    width: 75%;
    top: 0;
    background-image: url("/images/moorfarm.png");
    background-size: cover;
    text-align: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    outline: 2px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1-container h1 {
    letter-spacing: 2.5vmin;
    outline: 2px solid blue;
    margin: 0; 
    padding: 10px 0;
    font-size: 45px;
}

.h1-container h4 {
    letter-spacing: 2.5vmin;
    margin: 0 auto;
    padding: 0 auto;
    font-size: 15px;
    white-space: nowrap;
    outline: 2px solid chartreuse;
}

/*==================
== NAV
=================*/
.fullNav-container {
    display: none;
    outline: 1px solid yellowgreen;
}

.mobileNav-container {
    font-size: 30px;
    align-content: center;
    /* justify-content: center; */
    color: rgb(94, 59, 53);
    /* outline: 2px solid fuchsia; */
    margin: auto;
    padding-left: 3%;
    padding-top: 1.5%;
    height: 45px;
    width: 45px;
    background-color: rgba(73,114,171, 0.5);
    /* border: 5px solid rgba(73,114,171, 1); */
    border-radius: 5px;
}

.mobileNav-onclick {
    display:none;
}

.fullNav {
    /* bottom: 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 20px;
    color: rgb(94, 59, 53);
}

.fullNav a {
    font-size: 12px;
    color: rgba(94, 59, 53, 0.7);
    text-decoration: none;
    margin: 0 auto;
    white-space: nowrap;
    float: right;
    padding-right: 0;
    /* outline: 2px solid yellow; */
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    font-size: 12px;
    color: rgba(94, 59, 53, 0.7);
    text-decoration: none;
    background: none;
    margin: 0 auto;
    border: none;
    /* white-space: nowrap; */
    float: right;
    padding-right: 0;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ebecfd;
    /* min-width: 160px; */
    /* z-index: 1; */
}

/* Links inside the dropdown */ 
.dropdown-content a {
    color: rgba(94, 59, 53, 0.7);
    /* padding: 5px 16px; */
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/*==================
== CONTENT
=================*/
.content {
    width: 100%;
    text-align: center;
    color: rgb(94, 59, 53);
    outline: 2px solid red;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 100%;
}

.content h3 {
    outline: 2px solid blue;
}

.content p, .content ul {
    font-size: 12px;
    outline: 2px solid purple;
    /* overflow-y: scroll; */
    /* height: 500px; */
    /* max-height: 200px; */
    margin: 0 5px;
}

.content h6 {
    margin-bottom: 0;
}
.img-block {
    /* display:flex; */
    /* flex-direction: column; */
    width: 100%;
    height: 200px;
    margin: 0 auto;
    outline: 2px solid orange;
    /* flex-wrap: wrap; */
} 

figure {
    display: block;
}

figure img {
    height: 100%;
    width: auto;
    /* margin: 2px auto; */
    outline: 2px solid yellow;
}

figcaption {
    font-size: 12px;
    outline: 2px solid green;
    white-space: nowrap;
} 

.about {
    height: 160px;
    outline: 2px solid green;
    margin: 2px auto;
}
/*==================
== FOOTER
=================*/
footer {
    /* position: absolute; */
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: rgb(94, 59, 53);
    font-size: 8px;
    height: 5vmax;
    outline: 2px solid purple;
}

/*==================
== MEDIA QUERIES
=================*/
@media only screen and (min-width: 500px) {
.h1-container {
    width: 80%;
}

.h1-container h1 {
    font-size: 50px;
}

.h1-container h4 {
    font-size: 20px;
}

figure {
    width: 25%;
}
.img-block {
    /* flex-direction: unset; */
    flex-direction: row;
    flex-wrap: wrap;
}

footer {
    font-size: 12px;
    }
}

@media only screen and (min-width: 600px) {
    .h1-container {
        width: 85%;
    }
    
    .h1-container h1 {
        font-size: 57.5px;
    }

    .mobileNav {
        display:none;
    }

    .fullNav {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* line-height: 20px; */
    /* color: rgb(94, 59, 53); */
    }
}

@media only screen and (min-width: 700px) {
    
    .h1-container h1 {
        font-size: 65px;
    }

    .h1-container h4 {
        font-size: 25px;
    }

    .nav-container {
        line-height: 22px;
    }

    .nav-container a {
        font-size: 15px;
    }
}

@media only screen and (min-width: 950px) {
    .h1-container h1 {
        font-size: 78px;
    }

    .nav-container {
        line-height: 25px;
    }

    .nav-container a {
        font-size: 20px;
    }

    footer {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1200px) {
    .h1-container {
        width: 90%;
    }
    
    .h1-container h1 {
        font-size: 85px;
    }

    .h1-container h4 {
        font-size: 30px;
    }
} 